{% extends 'layout.html' %}

{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="post">
                <h1>{{ item.name }}</h1><br>
                <p><strong>Head Chef:</strong> {{ item.chef }}</p>
                <p>{{ item.description }}</p><br><br>
                <p><strong>Ingredients: </strong>{{ item.ingredients.all|join:", " }}</p><br><br>
                {% if item.standard %}
                    <p><em>This item is available year-round.</em></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
